KrucheBuilderyKodu/*.aps
KrucheBuilderyKodu/*.eto
KrucheBuilderyKodu/*.user
KrucheBuilderyKodu/ClientBin
KrucheBuilderyKodu/GeneratedArtifacts
KrucheBuilderyKodu/[Bb]in
KrucheBuilderyKodu/[Dd]ebug
KrucheBuilderyKodu/[Rr]elease
KrucheBuilderyKodu/_Pvt_Extensions
KrucheBuilderyKodu/obj
Kruchy.Plugin.CSharp/*.aps
Kruchy.Plugin.CSharp/*.eto
Kruchy.Plugin.CSharp/*.user
Kruchy.Plugin.CSharp/ClientBin
Kruchy.Plugin.CSharp/GeneratedArtifacts
Kruchy.Plugin.CSharp/[Bb]in
Kruchy.Plugin.CSharp/[Dd]ebug
Kruchy.Plugin.CSharp/[Rr]elease
Kruchy.Plugin.CSharp/_Pvt_Extensions
Kruchy.Plugin.CSharp/obj
Kruchy.Plugin.Utils/*.aps
Kruchy.Plugin.Utils/*.eto
Kruchy.Plugin.Utils/*.user
Kruchy.Plugin.Utils/ClientBin
Kruchy.Plugin.Utils/GeneratedArtifacts
Kruchy.Plugin.Utils/[Bb]in
Kruchy.Plugin.Utils/[Dd]ebug
Kruchy.Plugin.Utils/[Rr]elease
Kruchy.Plugin.Utils/_Pvt_Extensions
Kruchy.Plugin.Utils/obj
KruchyParserKodu/*.aps
KruchyParserKodu/*.eto
KruchyParserKodu/*.user
KruchyParserKodu/ClientBin
KruchyParserKodu/GeneratedArtifacts
KruchyParserKodu/[Bb]in
KruchyParserKodu/[Dd]ebug
KruchyParserKodu/[Rr]elease
KruchyParserKodu/_Pvt_Extensions
KruchyParserKodu/obj
KruchyPlugin1/KruchyPlugin1.csproj.user
KruchyPlugin1Tests/*.aps
KruchyPlugin1Tests/*.eto
KruchyPlugin1Tests/*.user
KruchyPlugin1Tests/ClientBin
KruchyPlugin1Tests/GeneratedArtifacts
KruchyPlugin1Tests/[Bb]in
KruchyPlugin1Tests/[Dd]ebug
KruchyPlugin1Tests/[Rr]elease
KruchyPlugin1Tests/_Pvt_Extensions
KruchyPlugin1Tests/obj
