* text=auto !eol
/KruchyPlugin.sln -text
/KruchyPlugin.v12.suo -text
KruchyPlugin1/Akcje/GenerowanieKlasService.cs -text
KruchyPlugin1/Akcje/UzupelnianieReferencedObject.cs -text
KruchyPlugin1/Akcje/UzupelnianieTagowDefiniujacychTabele.cs -text
KruchyPlugin1/Akcje/WynikGenerowaniaKlasService.cs -text
KruchyPlugin1/CodeBuilders/AtrybutBuilder.cs -text
KruchyPlugin1/CodeBuilders/ClassBuilder.cs -text
KruchyPlugin1/CodeBuilders/ICodeBuilder.cs -text
KruchyPlugin1/CodeBuilders/InterfejsBuilder.cs -text
KruchyPlugin1/CodeBuilders/PlikClassBuilder.cs -text
KruchyPlugin1/CodeBuilders/StaleDlaKodu.cs -text
KruchyPlugin1/Extensions/ProjektWrapperExtension.cs -text
KruchyPlugin1/GlobalSuppressions.cs -text
KruchyPlugin1/Guids.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.Designer.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.resx -text
KruchyPlugin1/Key.snk -text
KruchyPlugin1/KruchyPlugin1.csproj -text
KruchyPlugin1/KruchyPlugin1.csproj.user -text
KruchyPlugin1/KruchyPlugin1.vsct -text
KruchyPlugin1/KruchyPlugin1Package.cs -text
KruchyPlugin1/MyControl.xaml -text
KruchyPlugin1/MyControl.xaml.cs -text
KruchyPlugin1/MyToolWindow.cs -text
KruchyPlugin1/PkgCmdID.cs -text
KruchyPlugin1/Properties/AssemblyInfo.cs -text
KruchyPlugin1/Resources.Designer.cs -text
KruchyPlugin1/Resources.resx -text
KruchyPlugin1/Resources/Images.png -text
KruchyPlugin1/Resources/Package.ico -text
KruchyPlugin1/Testowo/TestowyWizard.cs -text
KruchyPlugin1/Testy/PlikClassBuilderTests.cs -text
KruchyPlugin1/Utils/DokumentWrapper.cs -text
KruchyPlugin1/Utils/PlikWrapper.cs -text
KruchyPlugin1/Utils/ProjektWrapper.cs -text
KruchyPlugin1/Utils/SolutionWrapper.cs -text
KruchyPlugin1/VSPackage.resx -text
KruchyPlugin1/source.extension.vsixmanifest -text
