* text=auto !eol
Kruche.Pluginy.Nowe/Kruche.Pluginy.Nowe.sln -text
Kruche.Pluginy.Nowe/Kruche.Pluginy.Nowe.v3.ncrunchsolution.user -text
KrucheBuilderyKodu/Builders/AtrybutBuilder.cs -text
KrucheBuilderyKodu/Builders/ClassBuilder.cs -text
KrucheBuilderyKodu/Builders/ICodeBuilder.cs -text
KrucheBuilderyKodu/Builders/InterfejsBuilder.cs -text
KrucheBuilderyKodu/Builders/MetodaBuilder.cs -text
KrucheBuilderyKodu/Builders/PlikClassBuilder.cs -text
KrucheBuilderyKodu/Builders/PoleBuilder.cs -text
KrucheBuilderyKodu/Builders/PropertyBuilder.cs -text
KrucheBuilderyKodu/Builders/StaleDlaKodu.cs -text
KrucheBuilderyKodu/KrucheBuilderyKodu.csproj -text
KrucheBuilderyKodu/KruchyKey.snk -text
KrucheBuilderyKodu/Properties/AssemblyInfo.cs -text
Kruchy.Plugin.CSharp/FirstCommand.cs -text
Kruchy.Plugin.CSharp/Key.snk -text
Kruchy.Plugin.CSharp/Kruchy.Plugin.CSharp.csproj -text
Kruchy.Plugin.CSharp/KruchyPluginCSharpPackage.cs -text
Kruchy.Plugin.CSharp/KruchyPluginCSharpPackage.vsct -text
Kruchy.Plugin.CSharp/KruchyToolWindow.cs -text
Kruchy.Plugin.CSharp/KruchyToolWindowCommand.cs -text
Kruchy.Plugin.CSharp/KruchyToolWindowControl.xaml -text
Kruchy.Plugin.CSharp/KruchyToolWindowControl.xaml.cs -text
Kruchy.Plugin.CSharp/Properties/AssemblyInfo.cs -text
Kruchy.Plugin.CSharp/Resources/FirstCommand.png -text
Kruchy.Plugin.CSharp/Resources/FirstCommandPackage.ico -text
Kruchy.Plugin.CSharp/Resources/KruchyToolWindowCommand.png -text
Kruchy.Plugin.CSharp/VSPackage.resx -text
Kruchy.Plugin.CSharp/index.html -text
Kruchy.Plugin.CSharp/packages.config -text
Kruchy.Plugin.CSharp/source.extension.vsixmanifest -text
Kruchy.Plugin.CSharp/stylesheet.css -text
Kruchy.Plugin.Utils/Extensions/AkcjaExtension.cs -text
Kruchy.Plugin.Utils/Extensions/FileSystemExtension.cs -text
Kruchy.Plugin.Utils/Extensions/PlikWrapperExtension.cs -text
Kruchy.Plugin.Utils/Extensions/ProjektWrapperExtension.cs -text
Kruchy.Plugin.Utils/Extensions/SolutionWrapperExtension.cs -text
Kruchy.Plugin.Utils/Kruchy.Plugin.Utils.csproj -text
Kruchy.Plugin.Utils/KruchyPluginUtils.pfx -text svneol=unset#unset
Kruchy.Plugin.Utils/Menu/PozycjaMenu.cs -text
Kruchy.Plugin.Utils/Menu/WymaganieDostepnosci.cs -text
Kruchy.Plugin.Utils/Properties/AssemblyInfo.cs -text
Kruchy.Plugin.Utils/Wrappers/DokumentWrapper.cs -text
Kruchy.Plugin.Utils/Wrappers/FileSystemWrapper.cs -text
Kruchy.Plugin.Utils/Wrappers/PlikWrapper.cs -text
Kruchy.Plugin.Utils/Wrappers/ProjektWrapper.cs -text
Kruchy.Plugin.Utils/Wrappers/SolutionExplorerWrapper.cs -text
Kruchy.Plugin.Utils/Wrappers/SolutionWrapper.cs -text
KruchyParserKodu/KruchyParserKodu.csproj -text
KruchyParserKodu/KruchyParserKodu.pfx -text
KruchyParserKodu/KruchyPlugin.pfx -text
KruchyParserKodu/ParserKodu/Atrybut.cs -text
KruchyParserKodu/ParserKodu/IZNawiasamiOtwierajacymiZamykajacymiParametry.cs -text
KruchyParserKodu/ParserKodu/IZPoczatkowaIKoncowaKlamerka.cs -text
KruchyParserKodu/ParserKodu/Konstruktor.cs -text
KruchyParserKodu/ParserKodu/Metoda.cs -text
KruchyParserKodu/ParserKodu/MetodaExtension.cs -text
KruchyParserKodu/ParserKodu/Modyfikator.cs -text
KruchyParserKodu/ParserKodu/Obiekt.cs -text
KruchyParserKodu/ParserKodu/ObiektDziedziczony.cs -text
KruchyParserKodu/ParserKodu/Parametr.cs -text
KruchyParserKodu/ParserKodu/ParametrAtrybutu.cs -text
KruchyParserKodu/ParserKodu/Parser.cs -text
KruchyParserKodu/ParserKodu/ParsowanaJednostka.cs -text
KruchyParserKodu/ParserKodu/Plik.cs -text
KruchyParserKodu/ParserKodu/Pole.cs -text
KruchyParserKodu/ParserKodu/PozycjaWPliku.cs -text
KruchyParserKodu/ParserKodu/Property.cs -text
KruchyParserKodu/ParserKodu/RodzajObiektu.cs -text
KruchyParserKodu/ParserKodu/SzukanieParsowanegoExtension.cs -text
KruchyParserKodu/ParserKodu/UsingNamespace.cs -text
KruchyParserKodu/Properties/AssemblyInfo.cs -text
/KruchyPlugin.pfx -text
/KruchyPlugin.sln -text
/KruchyPlugin.v12.suo -text
KruchyPlugin1/Akcje/DodawaniaUsinga.cs -text
KruchyPlugin1/Akcje/DodawanieMapowan.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/MapowanieNode.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/MapowanyProperty.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.Designer.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.resx -text
KruchyPlugin1/Akcje/DodawanieNowegoTestu.cs -text
KruchyPlugin1/Akcje/DodawanieNowejMetodyWBuilderze.cs -text
KruchyPlugin1/Akcje/DodawanieUprawnienDomyslnych.cs -text
KruchyPlugin1/Akcje/DodawanieUsingDbContext.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasService.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasyTestowej.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasyWalidatora.cs -text
KruchyPlugin1/Akcje/GenerowanieWidoku.cs -text
KruchyPlugin1/Akcje/IdzDoKataloguControllera.cs -text
KruchyPlugin1/Akcje/IdzDoKlasyTestowej.cs -text
KruchyPlugin1/Akcje/IdzDoPlikuWidoku.cs -text
KruchyPlugin1/Akcje/IdzMiedzyInterfejsemAImplementacja.cs -text
KruchyPlugin1/Akcje/InicjowaniePolaWKonstruktorze.cs -text
KruchyPlugin1/Akcje/PodzielParametryNaLinie.cs -text
KruchyPlugin1/Akcje/PokazywaniaZawartosciZShared.cs -text
KruchyPlugin1/Akcje/RodzajKlasyTestowej.cs -text
KruchyPlugin1/Akcje/UzupelnianieKontruktora.cs -text
KruchyPlugin1/Akcje/UzupelnianieMetodWImplementacji.cs -text
KruchyPlugin1/Akcje/UzupelnianieReferencedObject.cs -text
KruchyPlugin1/Akcje/UzupelnianieTagowDefiniujacychTabele.cs -text
KruchyPlugin1/Akcje/WstawianieNazwyControlleraDoSchowka.cs -text
KruchyPlugin1/Akcje/WynikGenerowaniaKlasService.cs -text
KruchyPlugin1/Akcje/ZmianaModyfikatoraMetody.cs -text
KruchyPlugin1/DoZrobienia.txt -text
KruchyPlugin1/GlobalSuppressions.cs -text
KruchyPlugin1/Guids.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.Designer.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.resx -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.Designer.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.resx -text
KruchyPlugin1/Key.snk -text
KruchyPlugin1/KonfiguracjaPlugina/Konfiguracja.cs -text
KruchyPlugin1/KonfiguracjaPlugina/KonfiguracjaUsingow.cs -text
KruchyPlugin1/KonfiguracjaPlugina/Xml/KruchyPlugin.cs -text
KruchyPlugin1/KruchyParserKodu.pfx -text
KruchyPlugin1/KruchyPlugin1.csproj -text
KruchyPlugin1/KruchyPlugin1.vsct -text
KruchyPlugin1/KruchyPlugin1Package.cs -text
KruchyPlugin1/KruchyPlugin1_2017/KruchyPlugin1_2017.csproj -text
KruchyPlugin1/KruchyPlugin1_2017/Properties/AssemblyInfo.cs -text
KruchyPlugin1/KruchyPlugin1_2017/index.html -text
KruchyPlugin1/KruchyPlugin1_2017/source.extension.vsixmanifest -text
KruchyPlugin1/KruchyPlugin1_2017/stylesheet.css -text
KruchyPlugin1/Menu/PozycjaDodawanieMapowan.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieNowegoTestu.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieNowejMetodyWBuilderze.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUprawnienDomyslnych.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUsingDbContext.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUsingow.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasService.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasyTestowej.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasyWalidatora.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieWidoku.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoGridRowActions.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoGridToolbar.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoKataloguControllera.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoKlasyTestowej.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoPlikuWidoku.cs -text
KruchyPlugin1/Menu/PozycjaIdzMiedzyInterfejsemAImplementacja.cs -text
KruchyPlugin1/Menu/PozycjaInicjowaniePolaWKonstruktorze.cs -text
KruchyPlugin1/Menu/PozycjaPodzielParametryNaLinie.cs -text
KruchyPlugin1/Menu/PozycjaPokazywanieZawartosciZShared.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieKontruktora.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieMetodWImplementacji.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieReferencedObject.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieTagowDefiniujacychTabele.cs -text
KruchyPlugin1/Menu/PozycjaWstawianieNazwyControlleraDoSchowka.cs -text
KruchyPlugin1/Menu/PozycjaZmienNaPrivate.cs -text
KruchyPlugin1/Menu/PozycjaZmienNaPublic.cs -text
KruchyPlugin1/MyControl.xaml -text
KruchyPlugin1/MyControl.xaml.cs -text
KruchyPlugin1/MyToolWindow.cs -text
KruchyPlugin1/PkgCmdID.cs -text
KruchyPlugin1/Properties/AssemblyInfo.cs -text
KruchyPlugin1/Resources.Designer.cs -text
KruchyPlugin1/Resources.resx -text
KruchyPlugin1/Resources/Images.png -text
KruchyPlugin1/Resources/Package.ico -text
KruchyPlugin1/Testowo/TestowyWizard.cs -text
KruchyPlugin1/VSPackage.resx -text
KruchyPlugin1/packages.config -text
KruchyPlugin1/source.extension.vsixmanifest.2015 -text
KruchyPlugin1Tests/KruchyPlugin1Tests.csproj -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowania.cs -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowaniaAtrybutow.cs -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowaniaNadklasIInterfejsow.cs -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowaniaRozszerzone.cs -text
KruchyPlugin1Tests/ParserTests/KonfiguracjaPluginaTests.cs -text
KruchyPlugin1Tests/ParserTests/MetodaBuilderTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieAtrybutowTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieKlasyNadklasIInterfejsowTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieKlasyTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieRozszerzoneTests.cs -text
KruchyPlugin1Tests/ParserTests/PlikClassBuilderTests.cs -text
KruchyPlugin1Tests/ParserTests/TestowoAttribute.cs -text
KruchyPlugin1Tests/Properties/AssemblyInfo.cs -text
KruchyPlugin1Tests/Utils/PozycjaWPlikuExtension.cs -text
/KruchyPlugin2017.sln -text
Wersje/KruchyPlugin1.vsix -text
Wersje/KruchyPlugin_160105.zip -text
Wersje/KruchyPlugin_160112.zip -text
