* text=auto !eol
KrucheBuilderyKodu/Builders/AtrybutBuilder.cs -text
KrucheBuilderyKodu/Builders/ClassBuilder.cs -text
KrucheBuilderyKodu/Builders/ICodeBuilder.cs -text
KrucheBuilderyKodu/Builders/InterfejsBuilder.cs -text
KrucheBuilderyKodu/Builders/MetodaBuilder.cs -text
KrucheBuilderyKodu/Builders/PlikClassBuilder.cs -text
KrucheBuilderyKodu/Builders/PropertyBuilder.cs -text
KrucheBuilderyKodu/Builders/StaleDlaKodu.cs -text
KrucheBuilderyKodu/KrucheBuilderyKodu.csproj -text
KrucheBuilderyKodu/KruchyKey.snk -text
KrucheBuilderyKodu/Properties/AssemblyInfo.cs -text
KruchyParserKodu/KruchyParserKodu.csproj -text
KruchyParserKodu/ParserKodu/Atrybut.cs -text
KruchyParserKodu/ParserKodu/IZNawiasamiOtwierajacymiZamykajacymiParametry.cs -text
KruchyParserKodu/ParserKodu/IZPoczatkowaIKoncowaKlamerka.cs -text
KruchyParserKodu/ParserKodu/Konstruktor.cs -text
KruchyParserKodu/ParserKodu/Metoda.cs -text
KruchyParserKodu/ParserKodu/Modyfikator.cs -text
KruchyParserKodu/ParserKodu/Obiekt.cs -text
KruchyParserKodu/ParserKodu/ObiektDziedziczony.cs -text
KruchyParserKodu/ParserKodu/Parametr.cs -text
KruchyParserKodu/ParserKodu/ParametrAtrybutu.cs -text
KruchyParserKodu/ParserKodu/Parser.cs -text
KruchyParserKodu/ParserKodu/ParsowanaJednostka.cs -text
KruchyParserKodu/ParserKodu/Plik.cs -text
KruchyParserKodu/ParserKodu/Pole.cs -text
KruchyParserKodu/ParserKodu/PozycjaWPliku.cs -text
KruchyParserKodu/ParserKodu/Property.cs -text
KruchyParserKodu/ParserKodu/RodzajObiektu.cs -text
KruchyParserKodu/ParserKodu/SzukanieParsowanegoExtension.cs -text
KruchyParserKodu/ParserKodu/UsingNamespace.cs -text
KruchyParserKodu/Properties/AssemblyInfo.cs -text
/KruchyPlugin.sln -text
/KruchyPlugin.v12.suo -text
KruchyPlugin1/Akcje/DodawaniaUsinga.cs -text
KruchyPlugin1/Akcje/DodawanieMapowan.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/MapowanieNode.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/MapowanyProperty.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.Designer.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.cs -text
KruchyPlugin1/Akcje/DodawanieMapowanElementy/WyborMapowanForm.resx -text
KruchyPlugin1/Akcje/DodawanieNowegoTestu.cs -text
KruchyPlugin1/Akcje/DodawanieNowejMetodyWBuilderze.cs -text
KruchyPlugin1/Akcje/DodawanieUprawnienDomyslnych.cs -text
KruchyPlugin1/Akcje/DodawanieUsingDbContext.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasService.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasyTestowej.cs -text
KruchyPlugin1/Akcje/GenerowanieKlasyWalidatora.cs -text
KruchyPlugin1/Akcje/GenerowanieWidoku.cs -text
KruchyPlugin1/Akcje/IdzDoKataloguControllera.cs -text
KruchyPlugin1/Akcje/IdzDoKlasyTestowej.cs -text
KruchyPlugin1/Akcje/IdzDoPlikuWidoku.cs -text
KruchyPlugin1/Akcje/IdzMiedzyInterfejsemAImplementacja.cs -text
KruchyPlugin1/Akcje/PodzielParametryNaLinie.cs -text
KruchyPlugin1/Akcje/PokazywaniaZawartosciZShared.cs -text
KruchyPlugin1/Akcje/RodzajKlasyTestowej.cs -text
KruchyPlugin1/Akcje/UzupelnianieKontruktora.cs -text
KruchyPlugin1/Akcje/UzupelnianieMetodWImplementacji.cs -text
KruchyPlugin1/Akcje/UzupelnianieReferencedObject.cs -text
KruchyPlugin1/Akcje/UzupelnianieTagowDefiniujacychTabele.cs -text
KruchyPlugin1/Akcje/WstawianieNazwyControlleraDoSchowka.cs -text
KruchyPlugin1/Akcje/WynikGenerowaniaKlasService.cs -text
KruchyPlugin1/Akcje/ZmianaModyfikatoraMetody.cs -text
KruchyPlugin1/DoZrobienia.txt -text
KruchyPlugin1/Extensions/AkcjaExtension.cs -text
KruchyPlugin1/Extensions/FileSystemExtension.cs -text
KruchyPlugin1/Extensions/PlikWrapperExtension.cs -text
KruchyPlugin1/Extensions/ProjektWrapperExtension.cs -text
KruchyPlugin1/Extensions/SolutionWrapperExtension.cs -text
KruchyPlugin1/GlobalSuppressions.cs -text
KruchyPlugin1/Guids.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.Designer.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyTestowForm.resx -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.Designer.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.cs -text
KruchyPlugin1/Interfejs/NazwaKlasyWindow.resx -text
KruchyPlugin1/Key.snk -text
KruchyPlugin1/KonfiguracjaPlugina/Konfiguracja.cs -text
KruchyPlugin1/KonfiguracjaPlugina/KonfiguracjaUsingow.cs -text
KruchyPlugin1/KonfiguracjaPlugina/Xml/KruchyPlugin.cs -text
KruchyPlugin1/KruchyPlugin1.csproj -text
KruchyPlugin1/KruchyPlugin1.csproj.user -text
KruchyPlugin1/KruchyPlugin1.vsct -text
KruchyPlugin1/KruchyPlugin1Package.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieMapowan.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieNowegoTestu.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieNowejMetodyWBuilderze.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUprawnienDomyslnych.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUsingDbContext.cs -text
KruchyPlugin1/Menu/PozycjaDodawanieUsingow.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasService.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasyTestowej.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieKlasyWalidatora.cs -text
KruchyPlugin1/Menu/PozycjaGenerowanieWidoku.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoGridRowActions.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoGridToolbar.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoKataloguControllera.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoKlasyTestowej.cs -text
KruchyPlugin1/Menu/PozycjaIdzDoPlikuWidoku.cs -text
KruchyPlugin1/Menu/PozycjaIdzMiedzyInterfejsemAImplementacja.cs -text
KruchyPlugin1/Menu/PozycjaMenu.cs -text
KruchyPlugin1/Menu/PozycjaPodzielParametryNaLinie.cs -text
KruchyPlugin1/Menu/PozycjaPokazywanieZawartosciZShared.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieKontruktora.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieMetodWImplementacji.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieReferencedObject.cs -text
KruchyPlugin1/Menu/PozycjaUzupelnianieTagowDefiniujacychTabele.cs -text
KruchyPlugin1/Menu/PozycjaWstawianieNazwyControlleraDoSchowka.cs -text
KruchyPlugin1/Menu/PozycjaZmienNaPrivate.cs -text
KruchyPlugin1/Menu/PozycjaZmienNaPublic.cs -text
KruchyPlugin1/Menu/WymaganieDostepnosci.cs -text
KruchyPlugin1/MyControl.xaml -text
KruchyPlugin1/MyControl.xaml.cs -text
KruchyPlugin1/MyToolWindow.cs -text
KruchyPlugin1/ParserKodu/Atrybut.cs -text
KruchyPlugin1/ParserKodu/IZNawiasamiOtwierajacymiZamykajacymiParametry.cs -text
KruchyPlugin1/ParserKodu/IZPoczatkowaIKoncowaKlamerka.cs -text
KruchyPlugin1/ParserKodu/Konstruktor.cs -text
KruchyPlugin1/ParserKodu/Metoda.cs -text
KruchyPlugin1/ParserKodu/Modyfikator.cs -text
KruchyPlugin1/ParserKodu/Obiekt.cs -text
KruchyPlugin1/ParserKodu/ObiektDziedziczony.cs -text
KruchyPlugin1/ParserKodu/Parametr.cs -text
KruchyPlugin1/ParserKodu/ParametrAtrybutu.cs -text
KruchyPlugin1/ParserKodu/Parser.cs -text
KruchyPlugin1/ParserKodu/ParsowanaJednostka.cs -text
KruchyPlugin1/ParserKodu/Plik.cs -text
KruchyPlugin1/ParserKodu/Pole.cs -text
KruchyPlugin1/ParserKodu/PozycjaWPliku.cs -text
KruchyPlugin1/ParserKodu/Property.cs -text
KruchyPlugin1/ParserKodu/RodzajObiektu.cs -text
KruchyPlugin1/ParserKodu/SzukanieParsowanegoExtension.cs -text
KruchyPlugin1/ParserKodu/UsingNamespace.cs -text
KruchyPlugin1/PkgCmdID.cs -text
KruchyPlugin1/Properties/AssemblyInfo.cs -text
KruchyPlugin1/Resources.Designer.cs -text
KruchyPlugin1/Resources.resx -text
KruchyPlugin1/Resources/Images.png -text
KruchyPlugin1/Resources/Package.ico -text
KruchyPlugin1/Testowo/TestowyWizard.cs -text
KruchyPlugin1/Utils/DokumentWrapper.cs -text
KruchyPlugin1/Utils/FileSystemWrapper.cs -text
KruchyPlugin1/Utils/PlikWrapper.cs -text
KruchyPlugin1/Utils/PozycjaWPlikuExtension.cs -text
KruchyPlugin1/Utils/ProjektWrapper.cs -text
KruchyPlugin1/Utils/SolutionExplorerWrapper.cs -text
KruchyPlugin1/Utils/SolutionWrapper.cs -text
KruchyPlugin1/VSPackage.resx -text
KruchyPlugin1/packages.config -text
KruchyPlugin1/source.extension.vsixmanifest -text
KruchyPlugin1Tests/KruchyPlugin1Tests.csproj -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowania.cs -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowaniaAtrybutow.cs -text
KruchyPlugin1Tests/ParserTests/KlasaDoParsowaniaNadklasIInterfejsow.cs -text
KruchyPlugin1Tests/ParserTests/KonfiguracjaPluginaTests.cs -text
KruchyPlugin1Tests/ParserTests/MetodaBuilderTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieAtrybutowTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieKlasyNadklasIInterfejsowTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieKlasyTests.cs -text
KruchyPlugin1Tests/ParserTests/ParsowanieRozszerzoneTests.cs -text
KruchyPlugin1Tests/ParserTests/PlikClassBuilderTests.cs -text
KruchyPlugin1Tests/ParserTests/TestowoAttribute.cs -text
KruchyPlugin1Tests/Properties/AssemblyInfo.cs -text
KruchyPlugin1Tests/Utils/PozycjaWPlikuExtension.cs -text
Wersje/KruchyPlugin1.vsix -text
Wersje/KruchyPlugin_160105.zip -text
Wersje/KruchyPlugin_160112.zip -text
packages/ICSharpCode.NRefactory.5.5.1/ICSharpCode.NRefactory.5.5.1.nupkg -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.CSharp.dll -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.CSharp.xml -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.Cecil.dll -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.Cecil.xml -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.Xml.dll -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.Xml.xml -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.dll -text
packages/ICSharpCode.NRefactory.5.5.1/lib/Net40/ICSharpCode.NRefactory.xml -text
packages/Mono.Cecil.0.9.5.4/Mono.Cecil.0.9.5.4.nupkg -text
packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.Mdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.Pdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Mdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Pdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Rocks.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Mdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Pdb.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Rocks.dll -text
packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.dll -text
packages/Mono.Cecil.0.9.5.4/lib/sl40/Mono.Cecil.Rocks.dll -text
packages/Mono.Cecil.0.9.5.4/lib/sl40/Mono.Cecil.dll -text
packages/repositories.config -text
