KrucheBuilderyKodu/*.aps
KrucheBuilderyKodu/*.eto
KrucheBuilderyKodu/*.user
KrucheBuilderyKodu/ClientBin
KrucheBuilderyKodu/GeneratedArtifacts
KrucheBuilderyKodu/[Bb]in
KrucheBuilderyKodu/[Dd]ebug
KrucheBuilderyKodu/[Rr]elease
KrucheBuilderyKodu/_Pvt_Extensions
KrucheBuilderyKodu/obj
KruchyParserKodu/*.aps
KruchyParserKodu/*.eto
KruchyParserKodu/*.user
KruchyParserKodu/ClientBin
KruchyParserKodu/GeneratedArtifacts
KruchyParserKodu/[Bb]in
KruchyParserKodu/[Dd]ebug
KruchyParserKodu/[Rr]elease
KruchyParserKodu/_Pvt_Extensions
KruchyParserKodu/obj
KruchyPlugin1/KruchyPlugin1.csproj.user
KruchyPlugin1Tests/*.aps
KruchyPlugin1Tests/*.eto
KruchyPlugin1Tests/*.user
KruchyPlugin1Tests/ClientBin
KruchyPlugin1Tests/GeneratedArtifacts
KruchyPlugin1Tests/[Bb]in
KruchyPlugin1Tests/[Dd]ebug
KruchyPlugin1Tests/[Rr]elease
KruchyPlugin1Tests/_Pvt_Extensions
KruchyPlugin1Tests/obj
